*{
    margin: 0%;
    padding: 0%;
}
*{
    color: darkorange;
    cursor: pointer;

}
.container{
    height: 100px;
    width: 100%;
    background-color: lightyellow;
    display: flex;
justify-content: space-between;
position: relative;
}
#logo{
    height: 90px;

}
.title{
    color: darkorange;
    font-size:3dvi;
    position: absolute;
    left: 200px;
}
ul{
    
 color: darkorange;
    font-size:2dvi;
    display: flex;
    list-style: none;
    position: absolute;
    right: 50px;
    margin-top:20px;
}
li{
    color: darkorange;
    cursor: pointer;
}
.buttons-button{
font-size:small;
text-decoration:double;
display:inline;
padding: 5px;
margin-left: 10px;
}
.heading{
    height: 50px;
    color: black;
    display: inline;text-align: center;
}
.grid-container{
    padding: 10px;
    margin-top: 20px;
    height: 500px;
    width: 90%;
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
gap: 20px;
}
.card{
    background-color: lightgray;
    border-radius: 8px;
    box-shadow: 5px;
}
.card:hover{
    transform: scale(1.03);
}
.card img{
    height: 200px;
    width: 300px;
    background-size: cover;
}
.card-content{
    padding: 15px;
}
.card-content h3{
    font-size: 18px;
}
.price{
    color: black;
    font-weight: bolder;
    font-size: larger;
}
button{
    margin-top: 15px;
    padding: 15px;
 border-radius:10px;
 font-size:15px;
background-color: darkorange;
color: black;
}
